### Miscellaneous
.DS_Store
Thumbs.db

### Composer
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/uploads/
/htdocs/content/upgrade/


### Environment Credentials
.env
.env.*
!.env.example
!.env.docker
