# Stylelint Config
#
# @author Roelof Roos

extends: "stylelint-config-standard"

plugins:
  "stylelint-scss"

rules:
  value-no-vendor-prefix: true
  function-url-scheme-whitelist: ["data", "https"]
  function-url-no-scheme-relative: true
  color-hex-length: "long"
  at-rule-no-unknown:
    - true
    - ignoreAtRules: &sass-rules
      - content
      - else
      - error
      - extend
      - function
      - if
      - import
      - include
      - mixin
      - return
  at-rule-empty-line-before:
    - "always"
    - ignoreAtRules: *sass-rules
  number-leading-zero: "never"
